.item-enter {
  transform: translateY(100%);
  opacity: 0;
}

.item-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}

.item-exit {
  transform: translateY(0);
  opacity: 1;
}

.item-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

