.item-enter {
  transform: translateY(100%);
  opacity: 0;
}

.item-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}

.item-exit {
  transform: translateY(0);
  opacity: 1;
}

.item-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.container {
  border-width: 0px;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 0px 1px var(--shadow-color), 
              0px 1px 1px -0.5px var(--shadow-color), 
              0px 3px 3px -1.5px var(--shadow-color), 
              0px 6px 6px -3px var(--shadow-color), 
              0px 12px 12px -6px var(--shadow-color), 
              0px 24px 24px -12px var(--shadow-color);
  --shadow-color: rgb(0 0 0 / 0.06);
}
